<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment 1</title>

    <!-- Hämtar Leaflet -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>

    <!-- Hämtar Turf -->
    <script src="../static/turf.min.js" charset="utf-8"></script>

    <!-- Hämtar plugin till Leaflet med sidopanelen -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-sidebar@0.2.4/src/L.Control.Sidebar.css"
    />
    <script src="https://unpkg.com/leaflet-sidebar@0.2.4/src/L.Control.Sidebar.js"></script>

    <!-- Hämtar plugin till Leaflet med markercluster -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
    />
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <!-- Hämtar plugin till Leaflet med donutcluster -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/@kalisio/leaflet.donutcluster@1.1.0/src/Leaflet.DonutCluster.css"
    />
    <script src="https://unpkg.com/@kalisio/leaflet.donutcluster@1.1.0/src/Leaflet.DonutCluster.js"></script>

    <!-- Stylar kartan och uppgiftsmenyn -->
    <style>
      #mapDiv {
        height: 100vh;
      }

      #tasks {
        position: absolute;
        z-index: 1000;
        background: rgba(255, 255, 255, 0.7);
        padding: 10px;
        right: 0;
        top: 0;
        margin: 10px;
        border-radius: 15px;
        min-height: 100px;
      }
    </style>
  </head>
  <body>
    <!-- Ritar upp kartan -->
    <div id="mapDiv"></div>

    <!-- Ritar upp sidopanelen -->
    <div id="sidebar"></div>

    <!-- Ritar upp uppgiftsmenyn med knappar för samtliga uppgifter -->
    <div id="tasks">
      <h2>Tasks</h2>
      <button id="t1">Task 1</button>
      <button id="t2">Task 2</button>
      <button id="t3">Task 3</button>
      <button id="t4">Task 4</button>
      <button id="t5">Task 5</button>
      <button id="t5-1">Task 5.1</button>
    </div>

    <!-- Laddar in samtliga js-filer -->
    <script src="{{ url_for('static', filename='map.js') }}"></script>
    <script src="{{ url_for('static', filename='fuel.js') }}"></script>
    <script src="{{ url_for('static', filename='supermarket.js') }}"></script>
    <script src="{{ url_for('static', filename='task1.js') }}"></script>
    <script src="{{ url_for('static', filename='task2.js') }}"></script>
    <script src="{{ url_for('static', filename='task3.js') }}"></script>
    <script src="{{ url_for('static', filename='task4.js') }}"></script>
    <script src="{{ url_for('static', filename='task5.js') }}"></script>
    <script src="{{ url_for('static', filename='task5-1.js') }}"></script>
  </body>
</html>
